<h1>Log In refactored</h1>
<hr>

<%= form_for :user, url: "/sessions" do |f| %>
<div class="form-group">
  <%= f.text_field :email, class: "form-control", placeholder: "name", autofocus: true %>
  <%= f.password_field :password, class: "form-control", placeholder: "password" %>

  <%= f.submit "Log-in!", class: "btn btn-block btn-primary" %>
</div>
<% end %>




<h1>Log In</h1>
<hr>
<form action="/sessions" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="form-group">
    <label for="user_email">Email</label>
    <input type="text" name="user[email]" class="form-control" id="user_email" placeholder="Your email" autofocus>
  </div>
  <div class="form-group">
    <label for="user_password">Password</label>
    <input type="password" name="user[password]" class="form-control" id="user_password" placeholder="Your password">
  </div>
  <input type="submit" value="Log In" class="btn btn-block btn-default">
</form>
<br>
<p>Don't have an account? <a href="/signup">Click here</a> to sign up.</p>