<h1><%= @recipe.name %></h1>
<hr>
<p><%= @recipe.instructions %></p>
<p class="small text-muted">
  Posted <%= time_ago_in_words(@recipe.created_at) %> ago by <%= link_to @recipe.user.email, user_path(@recipe.user) %>
</p>

<!-- only let user who wrote the recipe see edit/delete buttons -->
<% if current_user && current_user == @recipe.user %>
  <hr>
  <p>
    <%= link_to "Edit Recipe", edit_recipe_path(@recipe), class: "btn btn-default" %>
    <%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete, class: "btn btn-default" %>
  </p>
<% end %>