<h1>Sign Up</h1>
<hr>

<%= form_for @user do |f| %>
<div class="form-group">
  <%= f.text_field :email, class: "form-control", placeholder: "name", autofocus: true %>
  <%= f.password_field :password, class: "form-control", placeholder: "password" %>
  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "password confirm" %>
  <%= f.submit "Sign-up!", class: "btn btn-block btn-primary" %>
</div>
<% end %>

<hr>








<!-- <form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="form-group">
    <label for="user_email">Email</label>
    <input type="text" name="user[email]" class="form-control" id="user_email" placeholder="email@example.com" autofocus>
  </div>
  <div class="form-group">
    <label for="user_password">Password</label>
    <input type="password" name="user[password]" class="form-control" id="user_password" placeholder="Must be at least 6 characters">
  </div>
  <div class="form-group">
    <label for="user_password_confirmation">Password Confirmation</label>
    <input type="password" name="user[password_confirmation]" class="form-control" id="user_password_confirmation" placeholder="Confirm password">
  </div>
  <input type="submit" value="Sign Up" class="btn btn-block btn-default">
</form>
<br> -->
<p>Already have an account? <a href="/login">Click here</a> to log in.</p>