<h1>User Profile</h1>
<hr>
<p><strong>Email:</strong> <%= @user.email %></p>
<p class="small text-muted">Joined <%= time_ago_in_words(@user.created_at) %> ago</p>

<!-- only let user who owns this account see edit/delete buttons -->
<% if current_user && current_user == @user %>
  <hr>
  <p>
    <a href="/users/<%= @user.id %>/edit" class="btn btn-default">Edit Profile</a>
    <a href="/users/<%= @user.id %>" data-method="delete" class="btn btn-default" >Delete Profile</a>
  </p>
<% end %>

<% if @user.recipes.any? %>
  <br>
  <h4>User's Recipes</h4>
  <hr>
  <% @user.recipes.each do |recipe| %>
    <strong><%= recipe.name %></strong> - <a href="/recipes/<%= recipe.id %>">View Recipe</a>
    <hr>
  <% end %>
<% end %>